ADF/pipeline/endtoendproject.json
{
	"name": "endtoendproject",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "JsonDS",
						"type": "DatasetReference",
						"parameters": {
							"conatiner": "manualfile",
							"filename": "Table_Source_Datalake.json"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sourceDS",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@activity('Lookup1').output.value[0].container_source",
											"type": "Expression"
										},
										"directory": {
											"value": "@activity('Lookup1').output.value[0].directory_source",
											"type": "Expression"
										},
										"filename": {
											"value": "@activity('Lookup1').output.value[0].File_name_source",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sinkDS",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@activity('Lookup1').output.value[0].container_sink",
											"type": "Expression"
										},
										"directory": {
											"value": "@concat(activity('Lookup1').output.value[0].directory_sink,'/Dartpart=',formatDateTime(utcnow(),'yyyy-MM-dd'))",
											"type": "Expression"
										},
										"filename": {
											"value": "@activity('Lookup1').output.value[0].File_name_sink",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings",
										"compressionProperties": {
											"type": "ZipDeflateReadSettings",
											"preserveZipFileNameAsFolder": false
										}
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "BinarysourceDS",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@activity('Lookup1').output.value[1].container_source",
											"type": "Expression"
										},
										"filename": {
											"value": "@activity('Lookup1').output.value[1].File_name_source",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "BinarysinkDS",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@activity('Lookup1').output.value[1].container_sink",
											"type": "Expression"
										},
										"directory": {
											"value": "@concat(activity('Lookup1').output.value[1].directory_sink,'/Dartpart=',formatDateTime(utcnow(),'yyyy-MM-dd'))",
											"type": "Expression"
										},
										"filename": {
											"value": "@activity('Lookup1').output.value[1].File_name_sink",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-04-26T17:30:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}